urllib3
GPUtil
tabulate
opencv-python
discord
discord.py
pyautogui
shutils
pytest-shutil
pywin32
pybase64
pysqlite3
db-sqlite3
pywin32
pypiwin32
psutil
datetime
pycryptodome 
pyinstaller